@model VideoRentalAPP.Models.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = Model.Movie.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.Movie.Name</h2>
@foreach (var customer in Model.Customers)
{
    <h1>@customer.Name</h1>
}
