@model dynamic

@{
    ViewBag.Title = "Rent A Movie";
}

<h2>Rent A Movie</h2>

<form id="rentalForm">
    <div class="col-md-4 col-sm-4">

        <div class="form-group ">
            <label>Customer</label>
            <input id="customer" type="text" name="customers" value="" class="form-control" data-rule-validCustomer="true" required/>
        </div>
        <div class="form-group ">
            <label>Movie</label>
            <input id="movie" type="text" name="movies" value="" class="form-control" data-rule-atLeastOneMovie="true"/>
        </div>

        <div class="form-group ">
            <ul id="movies" class="list-group"></ul>

        </div>

        <button class="btn btn-primary">Save</button>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'), //here value is customer Name
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/Customers?query=%QUERY',
                    wildcard: '%QUERY'

                }
            });


            $('#customer').typeahead({
                    // limit: 10,
                    minLength: 3,
                    highlight: true


                },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers

                }).on("typeahead:select",
                function(e, customer) {
                    vm.customerId = customer.id;
                });


            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'), //here value is customer Name
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/Movies?query=%QUERY',
                    wildcard: '%QUERY'

                }
            });


            $('#movie').typeahead({
                    minLength: 2,
                    highlight: true

                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies

                }).on("typeahead:select",
                function(e, movie) {
                    $("#movies").append("<li class = 'list-group-item'>" + movie.name + "<li>");
                    $("#movie").typeahead("val", "");

                    vm.movieIds.push(movie.id);
                });

            //submitting from data to api
//            $("#rentalForm").submit(function (e) {
//                e.prevenDefault();
//
//                $.ajax({
//                    url: "/api/Rental",
//                    method: "POST",
//                    data: vm
//
//                }).done(function () {
//                    console.log("Done");
//                    toastr.message("Added!");
//                }).fail(function () {
//                    console.log("failed");
//                    toastr.message("failed!");
//                });
//            });

            $.validator.addMethod("validCustomer",
                function() {
                    return vm.customerId && vm.customerId !== 0;
                },
                "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie",
                function() {
                    return vm.movieIds.length > 0;
                },
                "Please select at least one movie.");

            var validator = $("#rentalForm").validate({
                submitHandler: function() {
                    $.ajax({
                            url: "/api/Rental",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            //changing toaster position
                            toastr.optionsOverride = 'positionclass = "toast-top-center"';
                            toastr.options.positionClass = 'toast-top-center';
                            toastr.success("Rentals successfully recorded.");


                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            vm = { movieIds: [] };

                            validator.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });

        });


    </script>
}